{% extends "layout.html" %}

{% block title %}
   Buy Stock
{% endblock %}

{% block main %}
<h1>Buy Stock</h1>
   <form action="/buy" method="post">
       <div class="mb-3">
           <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Stock Symbol" type="text">
       </div>
       <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="number">
       </div>
            <button class="btn btn-primary" type="submit">Buy Now</button>
   </form>

{% endblock %}